* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: black;
	font-family: sans-serif;
    width: 800px;
    margin: auto;
}

#level_title {
	font-size: 18px;
	color: black;		
	font-weight: bold;
}

img.level_image {
    
    width : 50px; 
    margin : auto;
    
}